venv/
__pycache__/
assets/
assets_v1/
prompt_docs_v1/
.env
node_modules/
prompts/
voices_test/
gemini_session/
gemini_session_jio/
gemini_session_sm/
gemini_session_pp/
generated_assets/
flow_session_1/
flow_session_2/
google_flow_module/
promptss/
app/api_state_checkpoint.json
vibes/
sessions/